**/build/
!src/**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.iml
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea
.kotlin
captures
local.properties
secrets.properties
xcuserdata
**/Pods/
