:root {
    --dokka-logo-image-url: url("https://raw.githubusercontent.com/software-mansion/kmp-maps/refs/heads/main/docs/images/icon.png");
    --dokka-logo-width: 36px;
    --dokka-logo-height: 36px;
}
