:root {
    --dokka-logo-image-url: url("https://raw.githubusercontent.com/software-mansion/kmp-maps/869bab5cf6aa41d35ec7603380b9ba0636293e14/docs/images/icon.png");
    --dokka-logo-width: 36px;
    --dokka-logo-height: 36px;
}
